{% extends 'base.html.twig' %}

{% block title %}{{ 'title.category_create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.category_create'|trans }}</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">{{ 'label.back'|trans }}</a>
{% endblock %}
