{% extends 'base.html.twig' %}

{% block title %}{{ 'title.comment_edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_edit'|trans }}</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comment_index') }}">{{ 'label.back'|trans }}</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
