{% extends 'base.html.twig' %}

{% block title %}{{ 'title.comment_create'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_create'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('comment_index') }}">{{ 'action.back'|trans }}</a>
{% endblock %}
