{% extends 'base.html.twig' %}

{% block title %}{{ 'label.post'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'label.post'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>{{ 'label.title'|trans }}</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>{{ 'label.content'|trans }}</th>
                <td>{{ post.content }}</td>
            </tr>
        </tbody>
    </table>

    <a class="mx-3 my-3" href="{{ path('post_index') }}">{{ 'label.back'|trans }}</a>

    {% if is_granted('EDIT', post) %}
        <a class="mx-3 my-3" href="{{ path('post_edit', {'id': post.id}) }}">{{ 'action.edit'|trans }}</a>
    {% endif %}

    {% if is_granted('DELETE', post) %}
        <a class="mx-3 my-3" href="{{ path('post_delete', {'id': post.id}) }}">{{ 'action.delete'|trans }}</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'label.comment_text'|trans }}</th>
            <th>{{ 'label.author'|trans }}</th>
            {% if is_granted('DELETE', post) %}
                <th>{{ 'label.actions'|trans }}</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.commentText }}</td>
                <td>{{ comment.autor }}</td>
                {% if is_granted('DELETE', comment) %}
                    <td>
                        <a href="{{ path('comment_delete', {'id': comment.id}) }} title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'message.empty_list'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_start(form, {'action': path('post_show', {'id': post.id}), 'method': 'GET'}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
