{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ post.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">back to list</a>

    {% if is_granted('EDIT', post) %}
        <a href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
    {% endif %}

    {% if is_granted('DELETE', post) %}
        <a href="{{ path('post_delete', {'id': post.id}) }}">DELETE</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Comment_text</th>
            <th>Author</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.commentText }}</td>
                <td>{{ comment.autor }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ form_start(form, {'action': path('post_show', {'id': post.id}), 'method': 'GET'}) }}
    {{ form_widget(form) }}
{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
    {{ form_end(form) }}

{% endblock %}
